.profile-page {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .profile-info {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;

    h1 {
      font-size: 26px;
      color: #333;
      margin-bottom: 20px;
    }

    .user-details {
      margin-bottom: 20px;

      p {
        font-size: 16px;
        color: #555;
        margin-bottom: 8px;

        strong {
          font-weight: 600;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .update-btn,
      .logout-btn {
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s;
        width: 100%;
      }

      .update-btn {
        background-color: #4f9dff;
        color: white;

        &:hover {
          background-color: #3578e5;
        }
      }

      .logout-btn {
        background-color: #e74c3c;
        color: white;

        &:hover {
          background-color: #c0392b;
        }
      }
    }
  }
}
