.myConferences-container {
  max-width: 100%;
  margin-top: 20px;
}

.myConferences-list {
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }

  p {
    color: #555;
    margin-bottom: 1.5rem;
  }
  .myConferences-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;

    th,
    td {
      padding: 1rem;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #007bff;
      color: white;
    }

    td {
      background-color: #fff;
    }

    .approved {
      color: green;
      font-weight: bold;
    }

    .not-approved {
      color: red;
      font-weight: bold;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }

  p.no-conferences {
    color: #777;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .myConferences-container {
    padding: 1rem;
  }

  .myConferences-table {
    font-size: 0.9rem;
  }
}
