.wrapper {
  width: 100%;
  background-color: #457dab;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 2rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .header {
    text-align: center;

    h2 {
      color: #ffffff;
      font-size: 2rem;
      margin: 0;
      font-weight: 700;
    }

    h3 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      font-weight: 400;
    }
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .navbar-left {
      button {
        background-color: transparent;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;

        .navbar-link {
          text-decoration: none;
          color: #0a0a0a;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }

    .navbar-right {
      display: flex;
      align-items: center;

      button {
        background-color: transparent;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        .navbar-link {
          text-decoration: none;
          font-weight: 500;
          color: #131212;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }

      span {
        font-size: 1rem;
        margin-right: 1rem;
        font-weight: 600;
        color: #ffffff;
        margin-top:15px;
      }
    }
  }
}
